


/* Light / Darkmode defs */
:root {
  --background-color: #FEFBF2;
  --background-image: url("quilt.jpg");
  --text-primary-color: #ff628e;
  --text-secondary-color: #ff5082;
  --text-thirdary-color: #a0203c;
  --highlight-color: #ca5047;
  --shadow-color: #E1A39F;
  --primary-color: #FFFFFF;
  --secondary-color: #FFEDEA;
  --accent-color: #75558D;
  --border-color: #E1A39F;

  --font-family: 'Comic Sans MS', cursive, sans-serif;
}

.dark-mode { /* Or [data-theme="dark"] */
  --background-color: #5a031b;
  --background-image: url("dquilt.jpg");
  --text-primary-color: #FFEDEA;
  --text-secondary-color: #E1A39F;
  --text-thirdary-color: #eecfcc;
  --highlight-color: #E1A39F;
  --shadow-color: #ca5047;
  --primary-color: #bc2646;
  --secondary-color: #a0203c;
  --accent-color: #75558D;
  --border-color: #FFEDEA;
}

body {
  --quilt-size: 400px;
  background-image: var(--background-image);
  background-size: var( --quilt-size) var( --quilt-size);
  background-color: var(--background-color);
  color: var(--background-secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  font-family: var(--font-family);
  animation: quilt-drift 120s linear infinite;
}

@keyframes quilt-drift {
  0% {
    background-position: 0 0 0 0;
  }
  100% {
    background-position: var(--quilt-size) var(--quilt-size);
  }
}