---
interface Props {
  date: string;
  index: number;
}
const { date, index } = Astro.props;
---

<div class="date-separator">Day {index}</div>

<style>
.date-separator {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-primary-color);
  text-shadow: 2px 2px 4px var(--shadow-color);
  margin: 16px 0 8px;
  user-select: none;
}
</style>