---
import bgImg from '../assets/quilt.jpg';
import bgImgDark from '../assets/dquilt.jpg';
const icon_img = "nobbers.png"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${icon_img}` />
		<meta name="generator" content={Astro.generator} />

    <!-- OpenGraph Tags -->
    <meta property="og:title" content="Nobathon 2025 - Schedule">
    <meta property="og:description" content="Nobathon stream event and game schedule">
    <meta property="og:image" content="https://schedule.nobbers.tv/embed.jpg">
    <meta property="og:url" content="https://schedule.nobbers.tv/">
    <meta property="og:type" content="website">

    <!-- Twitter Card Tags (Optional, but recommended for broader compatibility) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Nobathon 2025 - Schedule">
    <meta name="twitter:description" content="Nobathon stream event and game schedule">
    <meta name="twitter:image" content="https://schedule.nobbers.tv/embed.jpg">

    <!-- Discord Theme Color -->
    <!-- <meta name="theme-color" content="#FF0000"> -->

		<title>Nobathon 2025 - Schedule</title>
	</head>
	<body>
		<div id="background-container"></div>
		<slot />
	</body>
</html>

<style
	define:vars={{ backgroundlight: `url('${bgImg.src}')`, backgrounddark: `url('${bgImgDark.src}')`}}
>
/* Light / Darkmode defs */
:root {
  --background-color: #FEFBF2;
  --background-image: var(--backgroundlight);
  --text-primary-color: #C42531; /* TITLE */
  --text-secondary-color: #C42531; /* SOCIALS */
  --text-thirdary-color: #DB4854; /* DATE+TIME */
  --highlight-color: #ca5047;
  --shadow-color: #E1A39F;
  --primary-color: #FFFFFF;
  --secondary-color: #FFEDEA;
  --accent-color: #66558d;
  --border-color: #E1A39F;
  --font-family: 'Trebuchet MS', cursive, sans-serif;
}

.dark-mode { /* Or [data-theme="dark"] */
  --background-color: #5a031b;
  --background-image: var(--backgrounddark);
  --text-primary-color: #FFEDEA;
  --text-secondary-color: #E1A39F;
  --text-thirdary-color: #eecfcc;
  --highlight-color: #E1A39F;
  --shadow-color: #ca5047;
  --primary-color: #8f3347ff;
  --secondary-color: #a0203c;
  --accent-color: #75558D;
  --border-color: #9e4e52ff;
}

body {
  --quilt-size: 400px;
  background-image: var(--background-image);
  background-size: var( --quilt-size) var( --quilt-size);
  background-color: var(--background-color);
  color: var(--background-secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  font-family: var(--font-family);
  animation: quilt-drift 120s linear infinite;
}

@keyframes quilt-drift {
  0% {
    background-position: 0 0 0 0;
  }
  100% {
    background-position: var(--quilt-size) var(--quilt-size);
  }
}
</style>
