---
import bgImg from '../assets/quilt.jpg';
import bgImgDark from '../assets/dquilt.jpg';
const icon_img = "nobbers.png"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${icon_img}` />
		<meta name="generator" content={Astro.generator} />
		<title>Nobbathon 2025 - Schedule</title>
	</head>
	<body>
		<div id="background-container"></div>
		<slot />
	</body>
</html>

<style
	define:vars={{ backgroundlight: `url('${bgImg.src}')`, backgrounddark: `url('${bgImgDark.src}')`}}
>
/* Light / Darkmode defs */
:root {
  --background-color: #FEFBF2;
  --background-image: var(--backgroundlight);
  --text-primary-color: #DE6F78;
  --text-secondary-color: #DE6F78;
  --text-thirdary-color: #a0203c;
  --highlight-color: #ca5047;
  --shadow-color: #E1A39F;
  --primary-color: #FFFFFF;
  --secondary-color: #FFEDEA;
  --accent-color: #75558D;
  --border-color: #E1A39F;
  --font-family: 'Comic Sans MS', cursive, sans-serif;
}

.dark-mode { /* Or [data-theme="dark"] */
  --background-color: #5a031b;
  --background-image: var(--backgrounddark);
  --text-primary-color: #FFEDEA;
  --text-secondary-color: #E1A39F;
  --text-thirdary-color: #eecfcc;
  --highlight-color: #E1A39F;
  --shadow-color: #ca5047;
  --primary-color: #bc2646;
  --secondary-color: #a0203c;
  --accent-color: #75558D;
  --border-color: #FFEDEA;
}

body {
  --quilt-size: 400px;
  background-image: var(--background-image);
  background-size: var( --quilt-size) var( --quilt-size);
  background-color: var(--background-color);
  color: var(--background-secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  font-family: var(--font-family);
  animation: quilt-drift 120s linear infinite;
}

@keyframes quilt-drift {
  0% {
    background-position: 0 0 0 0;
  }
  100% {
    background-position: var(--quilt-size) var(--quilt-size);
  }
}
</style>
